@import "tailwindcss";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";


@tailwind base;
@tailwind components;
@tailwind utilities;
@config "./tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

/* definisi font custom */
@theme {
  --font-sans: "Poppins", system-ui, sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Fira Code", monospace;
}

@layer base {
  html {
    font-size: clamp(14px, 0.9vw, 18px);
  }
}
